 @font-face{
        font-family: anta-regular;
        src: url(Anta/Anta-Regular.ttf);
    }

p,h1,input{
    font-family: anta-regular;
    
}


.calbuttons{
margin-left: auto;
margin-right: auto;
display: block;
flex-wrap: wrap-reverse;
margin-bottom: 2px;

}

.buttons{
    min-width: 50px;
    min-height: 50px;
    max-width: 90px;
    max-height: 90px;
    background-color:#3A3F63;
    border-width: 5px;
    border-radius: 5px;
    margin-block: 2px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: x-large;
    color:#7ef8e8;
}



#div2{
border-color: rgb(0, 0, 0);
max-width: fit-content;
margin-left: auto;
margin-right: auto;
border-width: 10px;
border-radius: 25px;
border-style: solid;
margin-top: 50px;
}

#div1{
border-style: solid;
border-color: rgb(255, 147, 105);
border-width: 10px;
border-radius: 10px;
max-width: 1000px;
height:fit-content;
background-color: rgb(255, 148, 105);
}

.Screen{
    max-width: 400px; 
    max-height: 140px; 
    text-align-last: right;
    border-color: rgb(255, 128, 105);
    border-width: 15px;
    border-radius: 10px;
    margin-bottom: 12px;
    font-size: 50px;
}

